@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    font: normal 100%/1.5 sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: rgba(248, 248, 248, 0.5);
    margin: 0;
}

.billboard {
    background-image: url(../img/businesscard-photo-extend.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 25vh;
}

@media only screen and (min-width: 25em) {
    
    .billboard {
        height: 20em;
        width: 100%;
        position: absolute;
    }
    
    .about-me {
        position: absolute;
        background-color: rgba(67, 191, 191, 0.4);
        height: 50vh;
    }
    
}

@media only screen and (min-width: 38em) {
    
    .billboard {
        height: 50vh;
    }
    
}

@media only screen and (min-width: 60em) {
    
    .billboard {
        height: 100vh;
    }
    
    .about-me {
        height: 100vh;
    }
    
}

main {
    display: block;
}

.about-me {
    padding: 2em;
}

.name {
    font-family: 'Kaushan script', cursive;
    font-weight: 300;
    font-size: 50px;
}

